{% extends 'accounts/main.html' %}

{% block content %}
{% include "accounts/status.html" %}
  <h1>Dashboard</h1>
  <br>
  <div class="row">
    <div class="col-md-5">
      <h5>CUSTOMERS:</h5>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
        <table class="table table-sm">
          <tr>
            <th></th>
            <th>Customer</th>
            <th>Phone</th>
          </tr>
          {% for customer in customers %}
            <tr>
              <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
              <td>{{customer.name}}</td>
              <td>{{customer.phone}}</td>
            </tr>
          {% endfor %}
        </table>
      </div> <!--end of card-body-->
    </div> <!--end of col-md-5-->

    <div class="col-md-7">
      <h5 id="orders">LAST 5 ORDERS</h5>
      <hr>
        <table class="table table-sm">
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
          {% for order in paginated_orders %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.product}}</td>
              <td>{{order.date_created}}</td>
              <td>{{order.status}}</td>
              <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
              <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
            </tr>
          {% endfor %}
        </table><hr>
        <div class="pagination">
            <span class="step-links">
                {% if paginated_orders.has_previous %}
                    <a class="btn btn-sm btn-info" href="?page=1#orders">&#11057;</a>
                    <a class="btn btn-sm btn-info" href="?page={{ paginated_orders.previous_page_number }}#orders">&#8656;</a>
                {% endif %}
                {% for num in paginated_orders.paginator.page_range %}
                  {% if paginated_orders.number == num %}
                    <span class="btn btn-sm btn-success">{{num}} of {{paginated_orders.paginator.num_pages}}</span>
                  {% elif num > paginated_orders.number|add:'-3' and num < paginated_orders.number|add:'3' %}
                    <a class="btn btn-sm btn-secondary" href="?page={{num}}#orders">{{num}}</a>
                  {% endif %}
                {% endfor %}
                {% if paginated_orders.has_next %}
                    <a class="btn btn-sm btn-info" href="?page={{ paginated_orders.next_page_number }}#orders">&#8658;</a>
                    <a class="btn btn-sm btn-info" href="?page={{ paginated_orders.paginator.num_pages }}#orders">&#8694;</a>
                {% endif %}
            </span>
        </div> <!--end of pagination card-->
      </div><!--end of col-md-7-->
  </div>
{% endblock %}
